{%extends 'base.html'%}
{%block title%}
  Create a recipe!
{%endblock title%}
{%block content%}
<h1>Add a Recipe</h1>
<form method="post">
  {% csrf_token %}
  {{ recipe_form.as_p }}
  <button >Create</button>
</form>
{%endblock content%}

