{%extends 'base.html'%}
{%block title%}
    {{recipe_object.title}} - Scrumptious Recipes
{%endblock title%}
{%block content%}
    <h1> {{recipe_object.title}} </h1>
    <img src="{{recipe_object.picture}}" alt="">
    <div class="below-pic">
        <div>{{recipe_object.rating}} &#9733;</div>
        {%if user.is_authenticated%}
        <div class="edit" onclick='location.href="{%url 'edit_recipe' recipe_object.id}"' style="cursor:pointer;">
            <a href="{%url 'edit_recipe' recipe_object.id%}">Edit</a>
        </div>
        {%endif%}
    </div>
    <p>{{recipe_object.description}}</p>
    <p>Written by {{recipe_object.author.username|default:"anonymous"}}</p>
    <h2>Ingredients</h2>
    <table class="ingredients">
        <thead>
            <tr>
                <th>Amount</th>
                <th>Ingredient</th>
            </tr>
        </thead>
        <tbody>
           {%for ingredient in recipe_object.ingredients.all%}
           <tr>
            <td>{{ingredient.amount}}</td>
            <td>{{ingredient.ingredient}}</td>
           </tr>
           {%endfor%}
        </tbody>
    </table>
    <h2>Steps</h2>
    <ol>
        {%for step in recipe_object.steps.all%}
        <li> {{step.instruction}} </li>
        {%endfor%}
    </ol>
{%endblock content%}
