{%extends 'base.html'%}
{%block title%}
  Create a recipe!
{%endblock title%}
{%block content%}
<h1>Editing:{{recipe_object.title}}</h1>
<form method="post">
  {% csrf_token %}
  {{ recipe_form.as_p }}
  <button>Save</button>
</form>
{%endblock content%}
