{%extends 'base.html'%}
{%block title%}
    Scrumptious Recipes
{%endblock title%}
{%block content%}
<div class="main-page">
    <h1 class="page_title">Scrumptious Recipes</h1>
    <h2><i><u>All the food that's fit to eat</u></i></h2>
    <div class="recipes">
        {%for recipe in recipe_list%}
        <div class ="recipe{%if recipe.id|divisibleby:3%}3{% endif %}"
        onclick='location.href="{% url 'show_recipe' recipe.id %}"' style="cursor: pointer;">
            <h3>
                <a href="{%url 'show_recipe' id=recipe.id%}">{{recipe.title}}</a>
            </h3>
            <p class = "created_on">Created on: {{ recipe.created_on|date:"M d, Y" }}</p>
            <img src="{{recipe.picture}}" alt="">
            <div class="rating">{{recipe.rating}} &#9733;</div>
        </div>
        {%endfor%}
        </div>
    </div>
</div>
{%endblock content%}
