@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  font-family: "Roboto", sans-serif;
  background-color: rgb(166, 173, 197);
  max-width: auto;
}
body {
  padding: 0px;
  margin: 0px 0px 60px 0px;
}
main {
  padding: 16px;
  margin: 10px;
}

footer {
  padding: 24px 24px;
  bottom: 0px;
  position: fixed;
  background-color: rgb(73, 82, 107);
  width: 100%;
  color: white;
}
a {
  color: rgb(255, 255, 255);
}

nav a {
  color: rgb(255, 255, 255);
  padding: 5px 1em;
  background-color: rgb(22, 27, 41);
  border-radius: 2em;
  height: 20px;
}

a:link {
  text-decoration: none;
}
a:visited {
  color: rgbargb(46, 45, 45);
}

a:hover {
  color: rgb(0, 128, 0);
}

img {
  height: 200px;
  border: 2px solid rgb(64, 55, 66);
  border-radius: 5em;
  width: 250px;
}

nav {
  border-bottom: 1px solid rgb(73, 82, 107);
  padding: 16px;
  background-color: rgb(73, 82, 107);
  color: white;
}
.main-page {
  display: grid;
  grid-template-rows: auto auto 1fr;
}
.recipes {
  display: grid;
  grid-template-columns: repeat(4, auto);
}
h1 {
  background-color: rgb(22, 27, 41);
  width: fit-content;
  padding: 0.3em;
  border-radius: 2em;
  color: white;
}
.ingredients tr:nth-child(even),
thead {
  background-color: rgba(0, 0, 0, 0.2);
}

.recipe,.recipe3 {
  width: max-content;
  align-self: center;
  margin: 1em 2em;
  padding: 1em 1em;
  background-color: rgb(22, 27, 41);
  border-radius: 2em;
  box-shadow: 0 0 15px 0px #000;
}
.recipe:hover ,.recipe3:hover {
  box-shadow: 0px 0px 15px 15px rgba(255, 255, 255, 0.5);
  transition: box-shadow 0.25s;
}

.rating {
    color: white;
  margin: auto auto;
  width: fit-content;
}

.rating:hover {
  color: yellow;
  transition: color 0.25s;
}

.recipe:ac
.created_on{
  color:white;
  font-size: 8px;
}

.edit{
  background-color: rgb(22, 27, 41);
  border-radius: 2em;
  width:fit-content;
  padding: 5px;
  display:flex;
  margin-left: 200px;
}
.below-pic{
  display:grid;
  grid-template-columns: auto auto;
  width: fit-content;
}

form{
  display:grid;
  grid-template-rows: repeat(4,auto);
  color: rgb(47, 22, 54);
  margin-top: 0.1em;


}

button{
  width:100px;
  background-color:rgb(22, 27, 41);
  color: white;
  border-radius: 2em;
  ;
}
.recipe3{
  background-color: rgb(194, 118, 118);
}

.created_on{
  color: white;
  font-size: 10px;
}
