{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{%block title%}{%endblock title%}</title>
    <link rel="stylesheet" href="{% static 'css/recipes.css'%} " />
    <link rel="shortcut icon" type ="image/png" href={%static 'favicon.png'%}>
  </head>
  <body>
    <header>
      <nav>
        <a href="{% url 'recipe_list'%}">Main Page</a>
        {%if user.is_authenticated%}
        <a href="{% url 'create_recipe'%}">Add Recipe</a>
        <a href="{% url 'my_recipe_list'%}">My Recipes</a>
        <a href="{% url 'logout'%}">Logout</a>
        Hello, {{user.username}}
        {%else%}
        <a href="{%url 'signup'%}">Sign Up</a>
        <a href="{%url 'login'%}">Log In</a>
        {%endif%}
      </nav>
    </header>
    <main>{%block content%} {%endblock content%}</main>
    <footer>
      <div>Made with love by Scrumptious Recipes</div>
    </footer>
  </body>
</html>
